@model IEnumerable<BonTemps.Models.Table_layout>

@{
    ViewBag.Title = "Tafel overzicht wijzigen";
}

<div>
    <div class="row">
        <div class="col-sm-1">
            <div class="default items-col">
            </div>
        </div>
        <div class="col-sm-11">
            <div class='grid'>
                @foreach (var xAxis in ViewBag.tableLayout)
                {
                    <div class='col'>
                        @foreach (var yAxis in xAxis)
                        {
                            <div x="@yAxis.LayoutX" y="@yAxis.LayoutY" class='cell @yAxis.LayoutX-@yAxis.LayoutY @if (yAxis.IsTable == false){ <TEXT>no-table</TEXT>}'></div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script  src="js/index.js"></script>-->
<script>
    $('.card').draggable({
        appendTo: '.cell',
        scope: 'cells',
        stop: function () {
            if ($(this).parent().hasClass("default") !== true) {
                $(this).css({
                    top: "10%",
                    left: "10%"
                });
                $(this).children().addClass("text-occupied");
            }
        }
    });

    var enableCells = function () {
        $('.cell.cell-occupied').droppable('disable');
        $('.no-table').droppable('disable');
        $('.cell:not(.cell-occupied):not(.no-table)').droppable('enable');
        $('.cell:not(.cell-occupied):not(.no-table)').droppable({
            tolerance: 'pointer',
            scope: 'cells',
            activeClass: 'cell-occupiable',
            hoverClass: 'cell-hover',
            accept: '.card',
            helper: 'clone',
            drop: function (evt, ui) {
                var draggableClass = ui.draggable.attr("class");
                var droppableClass = $(this).attr("class");

                ui.draggable.children().eq(0).text(droppableClass.split(' ')[1]);

                console.log(draggableClass);
                console.log(droppableClass);

                var $cell = $(this);
                var $card = $(ui.draggable);
                $card.closest('.cell').removeClass('cell-occupied');
                $card.appendTo($cell);
                $card.addClass('card-occupier');
                $card.removeClass('card-free');
                $cell.addClass('cell-occupied');
                enableCells();
            }
        });
    }

    $('.cell').droppable();
    enableCells();

    $(".cell").on("click",
        function() {
            $(this).toggleClass("no-table");

            var jsonObject = {
                "x": parseInt($(this).attr("x")),
                "y": parseInt($(this).attr("y")),
                "table": !$(this).hasClass("no-table")
        };

            $.ajax({
                url: "@Url.Action("Edit")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    console.log(response);
                }
            });

        });
</script>
<style>
    body {
        background: white;
        font-family: helvetica, sans-serif;
        font-size: x-small;
    }

    .grid {
        margin: 2px;
        padding: 0.1em;
    }

    .col {
        background: white;
        display: inline-block;
    }

    .cell {
        cursor: pointer;
        width: 6vw;
        height: 6vw;
        background: transparent;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin: 5px;
    }

    .cell-hover {
        background: #c4ef8f;
    }

    .cell-occupied {
        border-style: dotted;
    }

    .cell-occupiable {
    }

    .card {
        background: #2184be;
        color: white;
        text-align: center;
    }

    .card-free {
        background: #2196F3;
        color: white;
        width: 2.5vw;
        height: 2.5vw;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin: 5px;
        margin-bottom: -18px;
        z-index: 999;
    }

        .card-free:nth-child(even) {
            margin-left: 20px !important;
        }

    .card-occupier {
        display: table;
        width: 80% !important;
        height: 80% !important;
        border-radius: 5px;
        left: 10% !important;
        top: 10% !important;
    }

    .text-occupied {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 3vw;
        max-width: 1px !important;
        word-wrap: break-word !important;
        white-space: pre-line;
    }

    .card-free {
        display: inline-block;
    }

    .cell-occupiable.no-table {
        opacity: 1;
    }

    .no-table {
        background-color: #9fa09f;
    }

    .items-col {
        margin-left: 20%;
    }
</style>
